.title {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
}

.image_container {
	left: 50%;
   	text-align: center;
}

.tags {
	font-size: 25px;
}

.submit-button {
	left: 50%;
    margin-right: -50%;
}